# Chart Events for last 48 period

TODO:

1. [ ] Create or find list of `ITEMID`s that correlate to the 17 dimmensions from paper.
2. [ ] Extract the 17 dims from `CHARTEVENTS.csv` for each sample

|	Chart Event	|	Dim	|	Normal	|
| --- | :--- | :--- |
|	1. Glasgow coma scale eye opening	|	4	|	4 Spontaneously	|
|	2. Glasgow coma scale verbal response	|	5	|	5 Oriented	|
|	3. Glasgow coma scale motor response	|	6	|	6 Obeys Commands	|
|	4. Glasgow coma scale total	|	13	|	15	|
|	5. Capillary refill rate	|	2	|	Normal < 3 secs	|
|	6. Diastolic blood pressure	|	1	|	70	|
|	7. Systolic blood pressure	|	1	|	105	|
|	8. Mean blood pressure	|	1	|	87.5	|
|	9. Heart Rate	|	1	|	80	|
|	10. Glucose	|	1	|	85	|
|	11. Fraction inspired oxygen	|	1	|	0.21	|
|	12. Oxygen saturation	|	1	|	97.5	|
|	13. Respiratory rate	|	1	|	15	|
|	14. Body Temperature	|	1	|	37	|
|	15. pH	|	1	|	7.4	|
|	16. Weight	|	1	|	80.7	|
|	17. Height	|	1	|	168.8	|

![Glascow](assets/images/GCS.jpg)

https://www.firstaidforfree.com/glasgow-coma-scale-gcs-first-aiders/

In [8]:
event_to_id =[
{'CHAREVENT':'GCS_EYE', 'DESCRIPTION':'','ITEMID':['184','220739'],'UNIT':['NONE','NONE']},
{'CHAREVENT':'GCS_MOTOR', 'DESCRIPTION':'','ITEMID':['454','223901'],'UNIT':['NONE','NONE']},
{'CHAREVENT':'GCS_VERBAL', 'DESCRIPTION':'','ITEMID':['723','223900'],'UNIT':['NONE','NONE']},
{'CHAREVENT':'GCS_TOTAL', 'DESCRIPTION':'Sum of the 3 GCS events','ITEMID':['198'],'UNIT':['NONE']},
{'CHAREVENT':'CAPILLARY_REFILL', 'DESCRIPTION':'','ITEMID':['3348','115','8377','223951','224308'],'UNIT':['BINARY','BINARY','BINARY','BINARY','BINARY']},
{'CHAREVENT':'D_BLOOD_PRESSURE', 'DESCRIPTION':'','ITEMID':['8368','220051','225310','8555','8441','220180','8502','8440','8503','8504','8507','8506','224643','227242'],'UNIT':['mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg']},
{'CHAREVENT':'M_BLOOD_PRESSURE', 'DESCRIPTION':'','ITEMID':['52', '220052', '225312', '224', '6702', '224322', '456', '220181', '3312', '3314', '3316', '3322', '3320'],'UNIT':['mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg']},
{'CHAREVENT':'S_BLOOD_PRESSURE', 'DESCRIPTION':'','ITEMID':['51','220050','225309','6701','455','220179','3313','3315','442','3317','3323','3321','224167','227243'],'UNIT':['mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg','mmHg']},
{'CHAREVENT':'HEART_RATE', 'DESCRIPTION':'','ITEMID':['211','220045'],'UNIT':['bpm','bpm']},
{'CHAREVENT':'GLUCOSE', 'DESCRIPTION':'','ITEMID':['807', '811', '1529', '3745', '225664', '220621', '226537', '3447', '3816', '3744', '227015', '227016', '1310', '1455', '2338', '1812', '228388'],'UNIT':['','']},
{'CHAREVENT':'FRAC_OXYGEN', 'DESCRIPTION':'','ITEMID':['3420', '223835', '3422', '189', '727'],'UNIT':['%','%','%','%','%']},
{'CHAREVENT':'O2_SAT', 'DESCRIPTION':'','ITEMID':['834', '8498', '220227', '646', '220277'],'UNIT':['%','%','%','%','%']},
{'CHAREVENT':'RESP_RATE', 'DESCRIPTION':'','ITEMID':['618', '220210', '3603', '224689', '614', '651', '224422', '615', '224690', '619', '224688'],'UNIT':['insp/min','']},
{'CHAREVENT':'BODY_TEMP', 'DESCRIPTION':'','ITEMID':['3655','677','676','223762','3654','678','223761','679','8537','645','591','226329','597','227054','228242'],'UNIT':['C','C','C','C','F','F','F','F','C','','','','C','','F']},
{'CHAREVENT':'PH', 'DESCRIPTION':'','ITEMID':['3839','1673','780','1126','223830','4753','4202','860','220274','8387','1880','3777','227586','8385','1352','4755','7966'],'UNIT':['NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE','NONE']},
{'CHAREVENT':'WEIGHT', 'DESCRIPTION':'','ITEMID':['763','224639','226512','3580','3693','3581','226531','3582'],'UNIT':['?','kg','kg','kg','kg','lb','lb','oz']},
{'CHAREVENT':'HEIGHT', 'DESCRIPTION':'','ITEMID':['226707', '226730', '1394'],'UNIT':['?','cm','in']},
]

In [6]:
# import csv
# keyword = 'height'
# event = 'chartevents'
# samples = []
# with open('./resources/itemid_to_variable_map.csv', 'r') as f:
#     # r = reader(f)
#     for line in f:
        
#         l = line.lower()
#         if keyword in l and event in l:
#             # print(l)
#             samples.append(l)


# print(len(samples))
# print(samples[0])

# itemid = []
# for s in samples:
#     s = s.split(',')
#     itemid.append(s[5])

# itemid

4
height,height,height,ready,requires unit conversion or checking,226707,height,inch,chartevents,12015,general,,,,metavision,,numeric,

['226707', '226730', '1394', '216']

In [6]:
import pandas as pd

In [10]:
test = pd.DataFrame(event_to_id)

In [11]:
test.head()

,CHAREVENT,DESCRIPTION,ITEMID,UNIT
0,GCS_EYE,,"[184, 220739]","[NONE, NONE]"
1,GCS_MOTOR,,"[454, 223901]","[NONE, NONE]"
2,GCS_VERBAL,,"[723, 223900]","[NONE, NONE]"
3,GCS_TOTAL,Sum of the 3 GCS events,[198],[NONE]
4,CAPILLARY_REFILL,,"[3348, 115, 8377, 223951, 224308]","[BINARY, BINARY, BINARY, BINARY, BINARY]"

In [44]:
CHARTEVENTS_FILENAME = 'mimic-iii/CHARTEVENTS.csv'
READMISSION_FILENAME = 'data/readmission.csv'
SAMPLES_DIR = 'data/samples/'
ROWS_TO_READ = 1000000
MAX_ROWS_CHARTEVENTS = 330712483

skip_rows = 0

In [32]:
# Find events that relate to SUBJECT_ID, HADM_ID, ICUSTAY_ID
    # Store said event
    # remove said events from search pool

with open(CHARTEVENTS_FILENAME, 'r') as f:
    for line in f:
        print(line)
        break

"ROW_ID","SUBJECT_ID","HADM_ID","ICUSTAY_ID","ITEMID","CHARTTIME","STORETIME","CGID","VALUE","VALUENUM","VALUEUOM","WARNING","ERROR","RESULTSTATUS","STOPPED"

In [34]:
chartevents = pd.read_csv(CHARTEVENTS_FILENAME,skiprows=skip_rows,nrows=ROWS_TO_READ,names=chartevents_columns)

In [35]:
chartevents

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
1,788,36,165660,241249,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,15,15,L/min,0,0,NaN,NaN
2,789,36,165660,241249,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,100,100,NaN,0,0,NaN,NaN
3,790,36,165660,241249,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823,.37,.37,NaN,0,0,NaN,NaN
4,791,36,165660,241249,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,6,6,min,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,862,36,165660,241249,224685,2134-05-12 16:00:00,2134-05-12 16:28:00,18428,534,534,mL,0,0,NaN,NaN
996,863,36,165660,241249,224687,2134-05-12 16:00:00,2134-05-12 16:28:00,18428,11,11,L/min,0,0,NaN,NaN
997,864,36,165660,241249,224688,2134-05-12 16:00:00,2134-05-12 16:28:00,18428,20,20,insp/min,0,0,NaN,NaN
998,865,36,165660,241249,224689,2134-05-12 16:00:00,2134-05-12 16:28:00,18428,0,0,insp/min,0,0,NaN,NaN
999,866,36,165660,241249,224690,2134-05-12 16:00:00,2134-05-12 16:28:00,18428,20,20,insp/min,0,0,NaN,NaN

In [36]:
chartevents_tuple = chartevents.itertuples()

In [37]:
for e in chartevents_tuple:
    print(e)
    test = e
    break

Pandas(Index=0, ROW_ID='ROW_ID', SUBJECT_ID='SUBJECT_ID', HADM_ID='HADM_ID', ICUSTAY_ID='ICUSTAY_ID', ITEMID='ITEMID', CHARTTIME='CHARTTIME', STORETIME='STORETIME', CGID='CGID', VALUE='VALUE', VALUENUM='VALUENUM', VALUEUOM='VALUEUOM', WARNING='WARNING', ERROR='ERROR', RESULTSTATUS='RESULTSTATUS', STOPPED='STOPPED')

In [38]:
# reading csv

# explicit dtypes and/or formatting, expecially datetime
# use HDFStore for storing data

In [ ]:
# # Create storage object with filename `processed_data`
# data_store = pd.HDFStore('processed_data.h5')

# # Put DataFrame into the object setting the key as 'preprocessed_df'
# data_store['preprocessed_df'] = df
# data_store.close()

# # Access data store
# data_store = pd.HDFStore('processed_data.h5')

# # Retrieve data using key
# preprocessed_df = data_store['preprocessed_df']
# data_store.close()

In [1]:
import pandas as pd
import numpy as np
import tqdm

In [2]:
CHARTEVENTS_FILENAME = 'mimic-iii/CHARTEVENTS.csv'
READMISSION_FILENAME = 'data/readmission.csv'
SAMPLES_DIR = 'data/samples/'
DATASTORE_FILENAME = 'samples.h5'
ROWS_TO_READ = 1000000
MAX_ROWS_CHARTEVENTS = 330712483

skip_rows = 0

In [3]:
chartevents_columns = ["ROW_ID","SUBJECT_ID","HADM_ID","ICUSTAY_ID","ITEMID","CHARTTIME","STORETIME","CGID","VALUE","VALUENUM","VALUEUOM","WARNING","ERROR","RESULTSTATUS","STOPPED"]

In [4]:
readmission = pd.read_csv(READMISSION_FILENAME)

In [5]:
#samples = os.listdir(SAMPLES_DIR)
while skip_rows < MAX_ROWS_CHARTEVENTS:
    chartevents = pd.read_csv(CHARTEVENTS_FILENAME,skiprows=skip_rows,nrows=ROWS_TO_READ,names=chartevents_columns)
    skip_rows += ROWS_TO_READ

    while len(chartevents) > 0:
        # get first row
        # t_row = chartevents.iloc[0]
        try:
            subject = int(chartevents.iloc[0]['SUBJECT_ID'])
            hadm_id = int(chartevents.iloc[0]['HADM_ID'])
            icustay_id = int(chartevents.iloc[0]['ICUSTAY_ID'])
        except:
            chartevents = chartevents.drop(0)
            continue

        # in the readmission dataframe?
        #print('chart', subject, hadm_id, icustay_id)
        #print('readmission', readmission['SUBJECT_ID'], readmission['HADM_ID'], readmission['ICUSTAY_ID'])
        if ((readmission['SUBJECT_ID'] == subject).any() and (readmission['HADM_ID'] == hadm_id).any() and (readmission['ICUSTAY_ID'] == icustay_id).any()):
            temp = chartevents[(chartevents['SUBJECT_ID'] == subject) & (chartevents['HADM_ID'] == hadm_id) & (chartevents['ICUSTAY_ID'] == icustay_id)]
            temp.to_hdf(''.join([SAMPLES_DIR,DATASTORE_FILENAME]),'_'.join(['sample',str(subject),str(hadm_id),str(icustay_id)]),'a',append=True)
            
        chartevents = chartevents[(chartevents['SUBJECT_ID'] != subject) & (chartevents['HADM_ID'] != hadm_id) & (chartevents['ICUSTAY_ID'] != icustay_id)]
        print((MAX_ROWS_CHARTEVENTS - len(chartevents))/MAX_ROWS_CHARTEVENTS)
        print(chartevents.shape)
    
    print(skip_rows/MAX_ROWS_CHARTEVENTS)

C:\Users\bencsik.m\AppData\Local\Temp\ipykernel_16520\3576478301.py:3: DtypeWarning: Columns (0,1,2,3,4,7,8,9,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.read_csv(CHARTEVENTS_FILENAME,skiprows=skip_rows,nrows=ROWS_TO_READ,names=chartevents_columns)

0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)
0.9969762284419121
(999999, 15)

KeyboardInterrupt: